/* --------------------------------- */
// || Breakpoint sizes
/* --------------------------------- */

$breakpoint-sm: 482px; // < 482px
$breakpoint-md: 592px; // > 592px
$breakpoint-lg: 652px; // > 652
$breakpoint-xl: 822px; // > 822px
$breakpoint-xxl: 1025px; // > 1024px
$breakpoint-xxxl: 1281px; // > 1280px