main {
	margin: 0 75px;
	padding-top: 75px;
	z-index: 2;
	position: relative;
	section {
		min-height: 100vh;
		margin-top: 5em;
		margin-left: 1.5em;
		margin-right: 1.5em;
		padding: 0;
		@media only screen and(min-width:$breakpoint-sm){
			padding: 3rem;

		}
		@media only screen and(min-width:$breakpoint-lg) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.section_me {
		display: flex;
		flex-direction: column;
		align-items: end;
	}
	.section_me--presentation,
	.section_me--aboutMe {
		width: 100%;
		@media only screen and (min-width: $breakpoint-4xl) {
			width: 40%;
		}
		h1 {
			@media only screen and (min-width:$breakpoint-sm){
				font-size: 2.5rem;
			}
			font-size: 1.7rem;
			font-weight: 400;
		}
	}
	.section_me--presentation {
		text-align: right;
		margin-top: 5em;
		h3 {
			@media only screen and (min-width:$breakpoint-sm){
				font-size: 1.5rem;
			}
			font-size: 1rem;
		}
	}
	.section_me--aboutMe {
		text-align: left;
		margin-top: 10em;
		@media only screen and (min-width: $breakpoint-lg) {
			text-align: right;
		}
	}
	// .section_me--CV{
	//   color: var(--);
	// }
	.section_skills {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		@media only screen and (min-width: $breakpoint-4xl) {
			flex-direction: row;
		}
		h1 {
			font-size: 4rem;
			font-weight: 600;
		}
		.section_skills--left,
		.section_skills--right {
			width: 100%;
			text-align: left;
			@media only screen and (min-width: $breakpoint-4xl) {
				width: 50%;
			}
		}
		.section_skills--left {
			.section_skills--right-skill {
				h2 {
					font-size: 2rem;
				}
				div {
					img {
						width: 6rem;
					}
				}
			}
			h1 {
				max-width: 400px;
			}
			#soft {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem 4rem;
					padding: 0.2rem;
					div {
						gap: 0.1rem;
						width: 8rem;
						display: flex;
						flex-direction: column;
						p {
							text-align: center;
							font-size: 1em;
						}
					}
			}
		}
		.section_skills--right {
			.section_skills--right_certifications {
				margin-top: 5em;
				display: flex;
				gap: 15px;
				.certification-wrap {
					border: 1px solid var(--color-lines);
					background-color: rgba(38, 37, 35, 0.4);
					padding: 1em;
					display: flex;
					flex-direction: column;
					gap: 5px;
					p,
					h4,
					a, div a {
						color: var(--color-gray);
					}
					p,
					a, div a {
						font-size: 0.7rem;
					}
				}
			}
		}
	}

	.section_projects {
		div {
			article {
				justify-content: space-between;
				a {
					p {
						color: var(--color-gray);
					}
					img {
						width: 34rem;
					}
				}
			}
		}
	}
}
